<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    body{
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }
</style>
</head>
<body>
<center><h1 style="color:bisque">LOG/History</h1></center>
<ul class="list-group">



<br><li class='list-group-item list-group-item-warning'><b>2020-04-15 16:47:29.693910</b> PHONE NO :<b>7301972921</b> , BOMBED no of times: <b>1</b> , with delay : <b>1</b> by <b>127.0.0.1</b> - <b>sms</b></li>
<br><li class='list-group-item list-group-item-warning'><b>2020-04-27 13:34:06.416190</b> PHONE NO :<b>7301972921</b> , BOMBED no of times: <b>10</b> , with delay : <b>4</b> by <b>127.0.0.1</b> - <b>sms</b></li>
